




ul {
	list-style: none;
	padding-left: 10px;
}
li {
	display: inline;
}

body {
	color: #c4c4c4;
	font-weight: 700;
}

a {
	color: black;
	text-decoration: none;
	font-style: bold;
	font-family: helvetica;
	font-weight: 1400;

}

.image-number::before {
	content: "#";
}



.octocat img {
	height: 445px;
	border: 1px solid #d6d6d6;
	margin-right: 10px;
}

.octocat {
	float: left;

}

.authors img {
	height: 30px;
	width: 30px;
	border-radius: 5px;
	float: right;
}

ul .octodex {
	float: right;
}

.image-caption {
	float: right;
	display: inline;

}

.authors {
	display: inline;
	position: relative;
}

.image-footer {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 15px;
	padding-top: 15px;

}