ul {
	list-style: none;
}
li {
	display: inline;
}
.octocat img {
	height: 350px;
	border: 1px solid #d6d6d6;
	margin-right: 10px;
}

.octocat {
	float: left;

}

.authors img {
	height: 25px;
	width: 25px;
	border-radius: 5px;
	float: right;
}

ul .octodex {
	float: right;
}

.image-caption {
	float: right;
	display: inline;
	position: absolute;
}

.authors {
	display: inline;
	position: relative;

}
